.input{
    display: flex;
    justify-content: center;
    position: relative;
}

.input_box{
    width: 80%;
    border-radius: 50px;
    font-size: medium;
    border: none;
    padding: 1%;
    transition: 0.2;
    box-shadow: inset 0 0 5px black;
    position: relative;
    padding: 2% ;
}
.input_submit{
    position: absolute;
    border-radius: 50px;
    right: 10%;
    top:10%;
    width: 8%;
    height: 80%;
    cursor: pointer;
    background-color: lightseagreen;
    transition: 0.2;
    box-shadow: inset 0 0 5px black;
    font-size: medium;
    border: none;
}
.input_submit:active{
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}